OPENAI_API_KEY=sk-proj-XXXXXX
OPENAI_MODEL=gpt-3.5-turbo
DEFAULT_USER=admin
DEFAULT_HOSTNAME=virtual-machine
USER_PASSWORD=password
TLS_CERT_FILE=certs/cert.pem
TLS_CERT_KEY=certs/key.pem
LOG_DIR=/logs
LOG_MAX_SIZE_MB=1024
LOG_BACKUP_COUNT=5